.infoText {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  background-color: var(--accent);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.infoTextHide {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text);
  background-color: var(--accent);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
