:root {
  --transition: 0.2s;

  --text: #212529;
  --bg-color: #ffffff;
  --bg-color-secondary: #2c3e50;
  --accent: #4dabf7;

  --aside-bg: #2c3e50;
  --aside-text: #f8f9fa;
  --aside-hover: #34495e;
  --aside-accent: #4dabf7;
  --color-delete: #e74c3c;
  --color-edit: #f1c40f;

}

[data-theme='dark'] {
  --text: #e9ecef;
  --text-secondary: #adb5bd;
  --bg-color: #121212;
  --bg-color-secondary: #1e2a3a;
}

body {
  background-color: var(--bg-color);
  color: var(--text);
  transition:
    background-color var(--transition),
    color var(--transition);
}